.main{
    height: 70vh;
    /*background-color: rgb(158, 163, 163);*/
}
body
{
    background-image: url("../images/a.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.header
{
    padding-top: 2vh;
}

    /*background-color: rgb(94, 121, 124);*/
.navbar
{
    /*color: black;
    background-color: rgb(233, 230, 230);
    */
}
.navbar li{
    display: inline;
    margin-right:30px;
    font-size: 30px;
    margin-top: 30px;
}
.content
{
    height:100%
    
}
.content iframe
{

   width: 50%;
   height:99%;
   border:none;
}
.footer{
    height: 15vh;
    /*background-color: bisque;*/
}
.header ul a{
    color: white;
    text-decoration: none;
    text-decoration-color: rgb(137, 10, 10);
}
h1{
    color:black;
    text-align: center;
    background-color: rgba(red, green, blue, alpha);
}
.okk{
    color: brown;
    font-size: 30px;
    border: 30px;
}
input{
    width: 70%;
    height: 50px; 
    padding: 12px 20px;
    font-size: 18px;
    margin: 8px 0;
    box-sizing: border-box;
}
button{
    padding: 12px 32px;
    border-radius: 4px;
}
