.main{
    color: aliceblue;
    text-align:left;
    font-size: 40px;
    margin: 20px;
    position: relative;
    bottom: 0px;
}
body
{
    background-image: url("../images/pic.png");
    background-repeat: no-repeat;
    background-size: cover;
}
