h1{
    color :aliceblue;
    font-size: 40px;
    text-align:left;
}input{
    width: 70%;
    height: 50px; 
    padding: 12px 20px;
    font-size: 18px;
    color:white;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: rgb(35, 35, 46);
}
input::placeholder{
    color: aliceblue;
}
button{
    padding: 12px 32px;
    font-size: 20px;
    color:white;
    border-radius: 30px;
    background-color:  rgb(35, 35, 46);
}
body
{
    background-image: url("../images/home.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.cool h1{
    border-radius: 20px;
    width: 15%;
    padding: 12px 24px;
    background-color:  rgb(35, 35, 46);
}