.main{
    height: 70vh;
}
body
{
    background-image: url("../images/college.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
.header
{
    padding-top: 2px;
}
.navbar li{
    display: inline;
    margin-right:30px;
    font-size: 30px;
    margin-top: 30px;
}
.content
{
    height:100%;
    border:none;
    position:relative;
    top: 28px;
    right: auto;
}
.content iframe
{
   width: 47%;
   height:99%;
   border:none;
   float: right;
   margin-top: 100px;
}
.footer{
    height: 15vh;
}
.header ul a{
    color:white;
    text-decoration: none;
    text-decoration-color: rgb(137, 10, 10);
}
h1{
    color: white;
    text-align: center;
    background-color: rgba(red, green, blue, alpha);
}
input{
    width: 100%;
}