.main{
    height: 70vh;
    /*background-color: rgb(158, 163, 163);*/
}
body
{
    background-image: url("../images/college.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
.header
{
    padding-top: 2vh;
}

    /*background-color: rgb(94, 121, 124);*/
.navbar
{
    /*color: black;
    background-color: rgb(233, 230, 230);
    */
}
.navbar li{
    display: inline;
    margin-right:30px;
    font-size: 30px;
    margin-top: 30px;
}
.content
{
    height:100%;
    border:none;
   /* background-color: brown;*/
}
.content iframe
{

   width: 47%;
   height:99%;
   border:none;
   float: right;

}
.footer{
    height: 15vh;
    /*background-color: bisque;*/
}
.header ul a{
    color: white;
    text-decoration: none;
    text-decoration-color: rgb(137, 10, 10);
}
h1{
    color: white;
    text-align: center;
    background-color: rgba(red, green, blue, alpha);
}
input{
    width: 100%;
}
